Repository na2na-p/misskey, changes with the labels that .github/labeler.yml gives for each.
All labels: packages/frontend, packages/frontend:test, packages/backend, packages/backend:test, packages/sw, packages/misskey-js, packages/misskey-js:test

.github/labeler.yml:

packages/frontend:
  - changed-files:
    - any-glob-to-any-file: "packages/frontend/**/*"

packages/frontend:test:
  - changed-files:
    - any-glob-to-any-file: "cypress/**/*"

packages/backend:
  - changed-files:
    - any-glob-to-any-file: "packages/backend/**/*"

packages/backend:test:
  - changed-files:
    - any-glob-to-any-file: "packages/backend/test/**/*"

packages/sw:
  - changed-files:
    - any-glob-to-any-file: "packages/sw/**/*"

packages/misskey-js:
  - changed-files:
    - any-glob-to-any-file: "packages/misskey-js/**/*"

packages/misskey-js:test:
  - changed-files:
    - any-glob-to-any-file: "packages/misskey-js/test/**/*"
    - any-glob-to-any-file: "packages/misskey-js/test-d/**/*"

Argo Rollouts実装
  infra/k8s/web/templates/hpa.yaml
  infra/k8s/web/templates/rollout.yaml
  infra/k8s/web/templates/service.yaml
  infra/k8s/web/values.yaml
Labels: none

Update values.yaml
  infra/k8s/web/values.yaml
Labels: none

redisPasswordKeyを任意にする
  infra/k8s/web/templates/externalsecret.yaml
  infra/k8s/web/templates/rollout.yaml
Labels: none

revisionHistoryLimitつける
  infra/k8s/web/templates/config.yaml
  infra/k8s/web/templates/deployment.yaml
  infra/k8s/web/templates/descheduler-cm.yaml
  infra/k8s/web/templates/descheduler-cronjob.yaml
  infra/k8s/web/templates/rbac.yaml
Labels: none

Update config.yaml
  infra/k8s/web/templates/config.yaml
Labels: none

stabilizationWindowSecondsをvaluesで指せるように
  infra/k8s/web/templates/hpa.yaml
  infra/k8s/web/values.yaml
Labels: none

HPA調整
  infra/k8s/web/templates/hpa.yaml
  infra/k8s/web/values.yaml
Labels: none

meilisearch準備
  infra/k8s/web/templates/deployment.yaml
  infra/k8s/web/templates/externalsecret.yaml
  infra/k8s/web/values.yaml
  packages/backend/src/config.ts
Labels: packages/backend

deschedulerつける
  infra/k8s/web/templates/descheduler-cm.yaml
  infra/k8s/web/templates/descheduler-cronjob.yaml
  infra/k8s/web/templates/rbac.yaml
  infra/k8s/web/values.yaml
Labels: none

Update hpa.yaml
  infra/k8s/web/templates/hpa.yaml
Labels: none

PDBつける
  infra/k8s/web/templates/pdb.yaml
  infra/k8s/web/values.yaml
Labels: none

Migration dry-run機能追加
  packages/backend/package.json
  packages/backend/scripts/migration-dry-run.mjs
Labels: packages/backend

空CWを許容する
  packages/frontend/src/components/MkPostForm.vue
Labels: packages/frontend

Dockerfileにjqを追加し、package.jsonのバージョンを更新、マイグレーションのチェックコマンドを追加
  Dockerfile
  package.json
Labels: none

マイグレーションドライラン機能の出力形式をオプションで指定可能にし、エラーメッセージの出力形式をJSONに対応
  packages/backend/scripts/migration-dry-run.mjs
Labels: packages/backend

コミット圧縮する
  .config/docker_example.yml
  .config/example.yml
  .devcontainer/compose.yml
  .github/actions/github-app-token/action.yml
  .github/workflows/approve.yml
  .github/workflows/cd-for-misskey-na2na.yml
  .github/workflows/docker-develop.yml
  .github/workflows/docker.yml
  .github/workflows/dockle.yml
  .github/workflows/enable-automerge.yml
  .github/workflows/image-push-for-misskey-na2na-release.yml
  .github/workflows/on-release-created.yml
  .github/workflows/storybook.yml
  .gitignore
  .tool-versions
  Dockerfile
  compose.yml
  compose_example.yml
  infra/cloudflare/.env.example
  infra/nginx/.env.example
  infra/nginx/Dockerfile
  infra/nginx/conf.d/default.conf.template
  infra/web/image-bake.hcl
  package.json
  packages/backend/package.json
  packages/backend/scripts/migration-dry-run.mjs
  packages/backend/src/config.ts
  packages/backend/src/core/NoteCreateService.ts
Labels: packages/backend

InstanceTickerが詰まり気味なので小さくする
  packages/frontend/src/components/MkInstanceTicker.vue
Labels: packages/frontend

リノートのLocalOnly無意味なので消す
  packages/frontend/src/utility/get-note-menu.ts
Labels: packages/frontend

reactionsDisplaySizeのデフォルトを変える
  packages/frontend/src/preferences/def.ts
Labels: packages/frontend

リアクションのデザイン調整
  packages/frontend/src/components/MkReactionsViewer.reaction.vue
Labels: packages/frontend

CWバリデーション消す
  packages/backend/src/server/api/endpoints/notes/create.test.ts
  packages/backend/src/server/api/endpoints/notes/create.ts
  packages/frontend/src/components/MkPostForm.vue
Labels: packages/frontend, packages/backend

bump
  packages/backend/test/compose.yml
Labels: packages/backend, packages/backend:test

Bump
  package.json
Labels: none

Dockerイメージのビルドプロセスを改善し、image-bake.hclを削除してバージョンをv2に更新
  .github/workflows/image-push-for-misskey-na2na-release.yml
  infra/web/image-bake.hcl
Labels: none

Dockerfileにおいて、サブモジュールの初期化を削除し、ビルドプロセスを簡素化 ワークフローでサブモジュールのチェックアウトを有効化
  .github/workflows/image-push-for-misskey-na2na-release.yml
  Dockerfile
Labels: none

2026.7.0ベースに合わせて.tool-versionsを更新 (nodejs 26.7.0 / pnpm 11.11.0)
  .tool-versions
Labels: none

USERを数値UIDで指定してrunAsNonRootを検証可能にする
  Dockerfile
  package.json
Labels: none

コミット圧縮する
  .config/docker_example.yml
  .config/example.yml
  .devcontainer/compose.yml
  .github/actions/github-app-token/action.yml
  .github/workflows/approve.yml
  .github/workflows/cd-for-misskey-na2na.yml
  .github/workflows/docker-develop.yml
  .github/workflows/docker.yml
  .github/workflows/dockle.yml
  .github/workflows/enable-automerge.yml
  .github/workflows/image-push-for-misskey-na2na-release.yml
  .github/workflows/on-release-created.yml
  .github/workflows/storybook.yml
  .gitignore
  .tool-versions
  Dockerfile
  compose.yml
  compose_example.yml
  infra/cloudflare/.env.example
  infra/nginx/.env.example
  infra/nginx/Dockerfile
  infra/nginx/conf.d/default.conf.template
  infra/web/image-bake.hcl
  package.json
  packages/backend/package.json
  packages/backend/scripts/migration-dry-run.mjs
  packages/backend/src/config.ts
  packages/backend/src/core/NoteCreateService.ts
Labels: packages/backend

bump
  packages/backend/test/compose.yml
Labels: packages/backend, packages/backend:test

リノートのLocalOnly無意味なので消す
  packages/frontend/src/utility/get-note-menu.ts
Labels: packages/frontend

InstanceTickerが詰まり気味なので小さくする
  packages/frontend/src/components/MkInstanceTicker.vue
Labels: packages/frontend

reactionsDisplaySizeのデフォルトを変える
  packages/frontend/src/preferences/def.ts
Labels: packages/frontend

CWバリデーション消す
  packages/backend/src/server/api/endpoints/notes/create.test.ts
  packages/backend/src/server/api/endpoints/notes/create.ts
  packages/frontend/src/components/MkPostForm.vue
Labels: packages/frontend, packages/backend

リアクションのデザイン調整
  packages/frontend/src/components/MkReactionsViewer.reaction.vue
Labels: packages/frontend

Dockerfileにおいて、サブモジュールの初期化を削除し、ビルドプロセスを簡素化 ワークフローでサブモジュールのチェックアウトを有効化
  .github/workflows/image-push-for-misskey-na2na-release.yml
  Dockerfile
Labels: none

Dockerイメージのビルドプロセスを改善し、image-bake.hclを削除してバージョンをv2に更新
  .github/workflows/image-push-for-misskey-na2na-release.yml
  infra/web/image-bake.hcl
Labels: none

2026.7.0ベースに合わせて.tool-versionsを更新 (nodejs 26.7.0 / pnpm 11.11.0)
  .tool-versions
Labels: none

Bump
  package.json
Labels: none

USERを数値UIDで指定してrunAsNonRootを検証可能にする
  Dockerfile
  package.json
Labels: none
