Repository na2na-p/misskey, changes with the labels that .github/labeler.yml gives for each.
All labels: packages/frontend, packages/frontend:test, packages/backend, packages/backend:test, packages/sw, packages/misskey-js, packages/misskey-js:test

Add db backup command
  package.json
Labels: none

Add cloudflare tunnel
  docker-compose.yml
  infra/cloudflare/.env.example
Labels: none

Update container images
  docker-compose.yml
Labels: none

Update
  package.json
Labels: none

Update docker-compose.yml
  docker-compose.yml
Labels: none

Update
  docker-compose.yml
Labels: none

Add nginx container
  docker-compose.yml
  infra/nginx/.env.example
  infra/nginx/Dockerfile
  infra/nginx/conf.d/default.conf.template
Labels: none

Fix fontsize
  packages/frontend/src/components/MkInstanceTicker.vue
Labels: packages/frontend

Update tool-versions
  .tool-versions
Labels: none

Remove tunnel container
  compose.yml
Labels: none

Update
  docker-compose.yml
Labels: none

Rename compose.yml
  compose.yml
Labels: none

Change Volumeの取扱変えた
  docker-compose.yml
Labels: none

Update .gitignore
  .gitignore
Labels: none

Update pnpm version
  .tool-versions
Labels: none

Add db container
  docker-compose.yml
Labels: none

Fix dockle
  .github/workflows/dockle.yml
Labels: none

Add update command
  package.json
Labels: none

Add .tool-versions
  .tool-versions
Labels: none

Update バックアップ用出入り口
  docker-compose.yml
Labels: none

CD test
  .github/workflows/docker-build-push-misskey-na2na.yml
Labels: none

Update CD
  .github/workflows/docker-build-push-misskey-na2na.yml
  .github/workflows/docker-develop.yml
  .github/workflows/docker.yml
Labels: none

Update update-command
  package.json
Labels: none

絵文字ボタンをモーダルフッターへ (#395)
  .github/workflows/enable-automerge.yml
Labels: none

Redisの終了が遅いのを修正
  compose.yml
Labels: none

Update pnpm
  .tool-versions
Labels: none

その場ビルドやめた
  compose.yml
Labels: none

Update docker/setup-buildx-action action to v2.5.0
  .github/workflows/docker-build-push-misskey-na2na.yml
Labels: none

Fix S3_PROXY_PASS
  infra/nginx/.env.example
Labels: none

Add meilisearch settings
  .vscode/settings.json
  compose.yml
Labels: none

ビルド周り改修
  .github/workflows/docker-build-push-misskey-na2na.yml
Labels: none

Update example
  infra/nginx/.env.example
Labels: none

Fix 存在しないオプションの削除
  compose.yml
Labels: none

helmにしてみた
  infra/k8s/web/.gitignore
  infra/k8s/web/.helmignore
  infra/k8s/web/Chart.yaml
  infra/k8s/web/config.example.yaml
  infra/k8s/web/templates/NOTES.txt
  infra/k8s/web/templates/_helpers.tpl
  infra/k8s/web/templates/hpa.yaml
  infra/k8s/web/templates/ingress.yaml
  infra/k8s/web/templates/service.yaml
  infra/k8s/web/templates/statefulset.yaml
  infra/k8s/web/templates/tests/test-connection.yaml
  infra/k8s/web/values.yaml
Labels: none

sslまわり
  .config/example.yml
  infra/k8s/web/templates/config.yaml
Labels: none

redisやpostgresql追加
  infra/k8s/postgres/.gitignore
  infra/k8s/postgres/forwarding.sh
  infra/k8s/postgres/pg-cluster.yaml
  infra/k8s/postgres/pg-user-sercret.example.yaml
  infra/k8s/postgres/postgresql-network-policy.yaml
  infra/k8s/postgres/s3-sercret.example.yaml
  infra/k8s/redis/redis.yaml
Labels: none

自リアクションによる枠線消す
  packages/frontend/src/components/MkReactionsViewer.reaction.vue
Labels: packages/frontend

リアクションのサイズのデフォルトを小に
  packages/frontend/src/store.ts
Labels: packages/frontend

fix
  Dockerfile
Labels: none

CW注釈必須なくす2
  packages/backend/src/server/api/endpoints/notes/create.ts
Labels: packages/backend

.github/labeler.yml:

packages/frontend:
  - changed-files:
    - any-glob-to-any-file: "packages/frontend/**/*"

packages/frontend:test:
  - changed-files:
    - any-glob-to-any-file: "cypress/**/*"

packages/backend:
  - changed-files:
    - any-glob-to-any-file: "packages/backend/**/*"

packages/backend:test:
  - changed-files:
    - any-glob-to-any-file: "packages/backend/test/**/*"

packages/sw:
  - changed-files:
    - any-glob-to-any-file: "packages/sw/**/*"

packages/misskey-js:
  - changed-files:
    - any-glob-to-any-file: "packages/misskey-js/**/*"

packages/misskey-js:test:
  - changed-files:
    - any-glob-to-any-file: "packages/misskey-js/test/**/*"
    - any-glob-to-any-file: "packages/misskey-js/test-d/**/*"
