Repository na2na-p/misskey, changes with the labels that .github/labeler.yml gives for each.
All labels: packages/frontend, packages/frontend:test, packages/backend, packages/backend:test, packages/sw, packages/misskey-js, packages/misskey-js:test

.github/labeler.yml:

packages/frontend:
  - changed-files:
    - any-glob-to-any-file: "packages/frontend/**/*"

packages/frontend:test:
  - changed-files:
    - any-glob-to-any-file: "cypress/**/*"

packages/backend:
  - changed-files:
    - any-glob-to-any-file: "packages/backend/**/*"

packages/backend:test:
  - changed-files:
    - any-glob-to-any-file: "packages/backend/test/**/*"

packages/sw:
  - changed-files:
    - any-glob-to-any-file: "packages/sw/**/*"

packages/misskey-js:
  - changed-files:
    - any-glob-to-any-file: "packages/misskey-js/**/*"

packages/misskey-js:test:
  - changed-files:
    - any-glob-to-any-file: "packages/misskey-js/test/**/*"
    - any-glob-to-any-file: "packages/misskey-js/test-d/**/*"

Update CD
  .github/workflows/docker-build-push-misskey-na2na.yml
  .github/workflows/docker-develop.yml
  .github/workflows/docker.yml
Labels: none

Redis 7.2.0にamd64がないので戻す
  compose.yml
Labels: none

ビルド周り改修
  .github/workflows/docker-build-push-misskey-na2na.yml
Labels: none

おひとり様にリノートローカル限定継承不要なので削除
  packages/frontend/src/scripts/get-note-menu.ts
Labels: packages/frontend

jemallocを使うように
  Dockerfile
Labels: none

Update example
  infra/nginx/.env.example
Labels: none

自リアクションによる枠線消す
  packages/frontend/src/components/MkReactionsViewer.reaction.vue
Labels: packages/frontend

リアクションのサイズのデフォルトを小に
  packages/frontend/src/store.ts
Labels: packages/frontend

spec(backend/NoteCreateService): ローカルユーザーがまだ誰もフォローしていないリモートユーザーによる通知を引き起こす可能性のある投稿を拒否できるように (MisskeyIO#462)
  packages/backend/src/core/NoteCreateService.ts
Labels: packages/backend

空文字cwはvalid扱いにする
  packages/backend/src/server/api/endpoints/notes/create.test.ts
Labels: packages/backend

helmにしてみた
  infra/k8s/web/.gitignore
  infra/k8s/web/.helmignore
  infra/k8s/web/Chart.yaml
  infra/k8s/web/config.example.yaml
  infra/k8s/web/templates/NOTES.txt
  infra/k8s/web/templates/_helpers.tpl
  infra/k8s/web/templates/hpa.yaml
  infra/k8s/web/templates/ingress.yaml
  infra/k8s/web/templates/service.yaml
  infra/k8s/web/templates/statefulset.yaml
  infra/k8s/web/templates/tests/test-connection.yaml
  infra/k8s/web/values.yaml
Labels: none

squash mergeやめる
  .github/workflows/enable-automerge.yml
Labels: none

redisやpostgresql追加
  infra/k8s/postgres/.gitignore
  infra/k8s/postgres/forwarding.sh
  infra/k8s/postgres/pg-cluster.yaml
  infra/k8s/postgres/pg-user-sercret.example.yaml
  infra/k8s/postgres/postgresql-network-policy.yaml
  infra/k8s/postgres/s3-sercret.example.yaml
  infra/k8s/redis/redis.yaml
Labels: none

CW注釈必須なくす
  packages/frontend/src/components/MkPostForm.vue
Labels: packages/frontend

リバースプロキシをCloudflare workersに移譲する
  infra/nginx/conf.d/default.conf.template
Labels: none

docker publish周り改修 (#481)
  .github/workflows/cd-for-misskey-na2na.yml
  .github/workflows/docker-build-push-misskey-na2na.yml
  .github/workflows/docker-develop.yml
  .github/workflows/image-push-for-misskey-na2na-release.yml
  infra/web/image-bake.hcl
Labels: none

Renote元ノートへの詳細表示ボタン追加
  locales/index.d.ts
  locales/ja-JP.yml
  packages/frontend/src/scripts/get-note-menu.ts
Labels: packages/frontend

CW注釈必須なくす2
  packages/backend/src/server/api/endpoints/notes/create.ts
Labels: packages/backend

fix
  infra/k8s/web/templates/NOTES.txt
  infra/k8s/web/templates/ingress.yaml
  infra/k8s/web/templates/service.yaml
  infra/k8s/web/templates/statefulset.yaml
  infra/k8s/web/values.yaml
Labels: none

ロギング周りの修正
  packages/backend/src/core/NoteCreateService.ts
Labels: packages/backend

Redisなおした
  infra/k8s/web/templates/config.yaml
  infra/k8s/web/values.yaml
Labels: none

不要なワークフローCO
  .github/workflows/on-release-created.yml
  .github/workflows/storybook.yml
Labels: none

chart内に昇格
  infra/k8s/web/.gitignore
  infra/k8s/web/templates/config.yaml
  infra/k8s/web/values.yaml
Labels: none

インフラこねた
  infra/k8s/web/templates/deployment.yaml
  infra/k8s/web/templates/hpa.yaml
  infra/k8s/web/values.yaml
Labels: none

アーキテクチャによらずlibjemallocを利用できるように
  Dockerfile
Labels: none

serviceName入れてみる
  infra/k8s/web/templates/statefulset.yaml
Labels: none

発火させない
  .github/workflows/dockle.yml
Labels: none

Podリソース詰める
  infra/k8s/web/values.yaml
Labels: none

docker_exampleにも増やしたconfig追加しておく
  .config/docker_example.yml
Labels: none

弾く弾かないの挙動決定をdefault.ymlにやらせる
  .config/example.yml
  packages/backend/src/config.ts
  packages/backend/src/core/NoteCreateService.ts
Labels: packages/backend

sslまわり
  .config/example.yml
  infra/k8s/web/templates/config.yaml
Labels: none

Podリソース詰める
  infra/k8s/web/values.yaml
Labels: none

NodePortやめてClusterIPに変更
  infra/k8s/web/templates/service.yaml
  infra/k8s/web/values.yaml
Labels: none

fix
  Dockerfile
Labels: none

バージョン指定の詳細化
  .github/workflows/docker-develop.yml
  .github/workflows/docker.yml
Labels: none

設定詰める
  infra/k8s/web/templates/deployment.yaml
  infra/k8s/web/templates/hpa.yaml
  infra/k8s/web/values.yaml
Labels: none

誰もdb使わなくなったので止める
  compose.yml
Labels: none

Pod性能の調整
  infra/k8s/web/values.yaml
Labels: none

helm valuesの整理
  infra/k8s/web/templates/config.yaml
  infra/k8s/web/templates/deployment.yaml
  infra/k8s/web/values.yaml
Labels: none

デフォルトバージョン更新
  infra/k8s/web/values.yaml
Labels: none
