Repository na2na-p/misskey, changes with the labels that .github/labeler.yml gives for each.
All labels: packages/frontend, packages/frontend:test, packages/backend, packages/backend:test, packages/sw, packages/misskey-js, packages/misskey-js:test

.github/labeler.yml:

packages/frontend:
  - changed-files:
    - any-glob-to-any-file: "packages/frontend/**/*"

packages/frontend:test:
  - changed-files:
    - any-glob-to-any-file: "cypress/**/*"

packages/backend:
  - changed-files:
    - any-glob-to-any-file: "packages/backend/**/*"

packages/backend:test:
  - changed-files:
    - any-glob-to-any-file: "packages/backend/test/**/*"

packages/sw:
  - changed-files:
    - any-glob-to-any-file: "packages/sw/**/*"

packages/misskey-js:
  - changed-files:
    - any-glob-to-any-file: "packages/misskey-js/**/*"

packages/misskey-js:test:
  - changed-files:
    - any-glob-to-any-file: "packages/misskey-js/test/**/*"
    - any-glob-to-any-file: "packages/misskey-js/test-d/**/*"

空文字cwはvalid扱いにする
  packages/backend/src/server/api/endpoints/notes/create.test.ts
Labels: packages/backend

ロギング周りの修正
  packages/backend/src/core/NoteCreateService.ts
Labels: packages/backend

docker_exampleにも増やしたconfig追加しておく
  .config/docker_example.yml
Labels: none

spec(backend/NoteCreateService): ローカルユーザーがまだ誰もフォローしていないリモートユーザーによる通知を引き起こす可能性のある投稿を拒否できるように (MisskeyIO#462)
  packages/backend/src/core/NoteCreateService.ts
Labels: packages/backend

squash mergeやめる
  .github/workflows/enable-automerge.yml
Labels: none

jemallocを使うように
  Dockerfile
Labels: none

弾く弾かないの挙動決定をdefault.ymlにやらせる
  .config/example.yml
  packages/backend/src/config.ts
  packages/backend/src/core/NoteCreateService.ts
Labels: packages/backend

リバースプロキシをCloudflare workersに移譲する
  infra/nginx/conf.d/default.conf.template
Labels: none

Redis 7.2.0にamd64がないので戻す
  compose.yml
Labels: none

おひとり様にリノートローカル限定継承不要なので削除
  packages/frontend/src/utility/get-note-menu.ts
Labels: packages/frontend

serviceName入れてみる
  infra/k8s/web/templates/statefulset.yaml
Labels: none

誰もdb使わなくなったので止める
  compose.yml
Labels: none

fix
  infra/k8s/web/templates/NOTES.txt
  infra/k8s/web/templates/ingress.yaml
  infra/k8s/web/templates/service.yaml
  infra/k8s/web/templates/statefulset.yaml
  infra/k8s/web/values.yaml
Labels: none

chart内に昇格
  infra/k8s/web/.gitignore
  infra/k8s/web/templates/config.yaml
  infra/k8s/web/values.yaml
Labels: none

アーキテクチャによらずlibjemallocを利用できるように
  Dockerfile
Labels: none

docker publish周り改修 (#481)
  .github/workflows/cd-for-misskey-na2na.yml
  .github/workflows/docker-build-push-misskey-na2na.yml
  .github/workflows/docker-develop.yml
  .github/workflows/image-push-for-misskey-na2na-release.yml
  infra/web/image-bake.hcl
Labels: none

不要なワークフローCO
  .github/workflows/on-release-created.yml
  .github/workflows/storybook.yml
Labels: none

設定詰める
  infra/k8s/web/templates/deployment.yaml
  infra/k8s/web/templates/hpa.yaml
  infra/k8s/web/values.yaml
Labels: none

hotfix
  infra/k8s/web/templates/config.yaml
  infra/k8s/web/values.yaml
Labels: none

インフラこねた
  infra/k8s/web/templates/deployment.yaml
  infra/k8s/web/templates/hpa.yaml
  infra/k8s/web/values.yaml
Labels: none

デフォルトバージョン更新
  infra/k8s/web/values.yaml
Labels: none

バージョン指定の詳細化
  .github/workflows/docker-develop.yml
  .github/workflows/docker.yml
Labels: none

Redisなおした
  infra/k8s/web/templates/config.yaml
  infra/k8s/web/values.yaml
Labels: none

Pod性能の調整
  infra/k8s/web/values.yaml
Labels: none

NodePortやめてClusterIPに変更
  infra/k8s/web/templates/service.yaml
  infra/k8s/web/values.yaml
Labels: none

hotfix
  infra/k8s/web/templates/config.yaml
Labels: none

Podリソース詰める
  infra/k8s/web/values.yaml
Labels: none

発火させない
  .github/workflows/dockle.yml
Labels: none

helm valuesの整理
  infra/k8s/web/templates/config.yaml
  infra/k8s/web/templates/deployment.yaml
  infra/k8s/web/values.yaml
Labels: none

Podリソース詰める
  infra/k8s/web/values.yaml
Labels: none

redisのパスワード対応
  packages/backend/src/config.ts
Labels: packages/backend

redisのパスワード対応
  infra/k8s/web/templates/config.yaml
  infra/k8s/web/templates/externalsecret.yaml
  infra/k8s/web/templates/rollout.yaml
  infra/k8s/web/values.yaml
Labels: none

Revert "Update hpa.yaml"
  infra/k8s/web/templates/hpa.yaml
Labels: none

DB hostも環境変数対応させる
  packages/backend/src/config.ts
Labels: packages/backend

db番号指定できるようにする
  infra/k8s/web/templates/config.yaml
  infra/k8s/web/values.yaml
Labels: none

Bump
  package.json
Labels: none

Docker build cacheの取り扱いをGHAに寄せる
  .github/workflows/image-push-for-misskey-na2na-release.yml
  infra/web/image-bake.hcl
Labels: none

releaseタグpushやめる
  .github/workflows/docker-develop.yml
  .github/workflows/docker.yml
  .github/workflows/image-push-for-misskey-na2na-release.yml
  .tool-versions
  compose.yml
  infra/k8s/web/templates/deployment.yaml
  infra/k8s/web/values.yaml
  infra/nginx/Dockerfile
Labels: none

externalSecret対応
  infra/k8s/web/templates/config.yaml
  infra/k8s/web/templates/deployment.yaml
  infra/k8s/web/templates/descheduler-cm.yaml
  infra/k8s/web/templates/descheduler-cronjob.yaml
  infra/k8s/web/templates/externalsecret.yaml
  infra/k8s/web/values.yaml
Labels: none

configの令和最新化
  infra/k8s/web/templates/config.yaml
Labels: none
