Repository na2na-p/misskey, changes with the labels that .github/labeler.yml gives for each.
All labels: packages/frontend, packages/frontend:test, packages/backend, packages/backend:test, packages/sw, packages/misskey-js, packages/misskey-js:test

.github/labeler.yml:

packages/frontend:
  - changed-files:
    - any-glob-to-any-file: "packages/frontend/**/*"

packages/frontend:test:
  - changed-files:
    - any-glob-to-any-file: "cypress/**/*"

packages/backend:
  - changed-files:
    - any-glob-to-any-file: "packages/backend/**/*"

packages/backend:test:
  - changed-files:
    - any-glob-to-any-file: "packages/backend/test/**/*"

packages/sw:
  - changed-files:
    - any-glob-to-any-file: "packages/sw/**/*"

packages/misskey-js:
  - changed-files:
    - any-glob-to-any-file: "packages/misskey-js/**/*"

packages/misskey-js:test:
  - changed-files:
    - any-glob-to-any-file: "packages/misskey-js/test/**/*"
    - any-glob-to-any-file: "packages/misskey-js/test-d/**/*"

絵文字ボタンをモーダルフッターへ (#395)
  .github/workflows/enable-automerge.yml
Labels: none

Update バックアップ用出入り口
  docker-compose.yml
Labels: none

Fix dockle
  .github/workflows/dockle.yml
Labels: none

Fix S3_PROXY_PASS
  infra/nginx/.env.example
Labels: none

Update actions
  .github/workflows/approve.yml
Labels: none

Add db container
  docker-compose.yml
Labels: none

Update container images
  docker-compose.yml
Labels: none

Add update command
  package.json
Labels: none

Update pnpm version
  .tool-versions
Labels: none

Update CD
  .github/workflows/docker-build-push-misskey-na2na.yml
  .github/workflows/docker-develop.yml
  .github/workflows/docker.yml
Labels: none

Update
  docker-compose.yml
Labels: none

Add meilisearch settings
  .vscode/settings.json
  compose.yml
Labels: none

Update example
  infra/nginx/.env.example
Labels: none

Redis 7.2.0にamd64がないので戻す
  compose.yml
Labels: none

ビルド周り改修
  .github/workflows/docker-build-push-misskey-na2na.yml
Labels: none

jemallocを使うように
  Dockerfile
Labels: none

おひとり様にリノートローカル限定継承不要なので削除
  packages/frontend/src/utility/get-note-menu.ts
Labels: packages/frontend

docker publish周り改修 (#481)
  .github/workflows/cd-for-misskey-na2na.yml
  .github/workflows/docker-build-push-misskey-na2na.yml
  .github/workflows/docker-develop.yml
  .github/workflows/image-push-for-misskey-na2na-release.yml
  infra/web/image-bake.hcl
Labels: none

リアクションのサイズのデフォルトを小に
  packages/frontend/src/store.ts
Labels: packages/frontend

自リアクションによる枠線消す
  packages/frontend/src/components/MkReactionsViewer.reaction.vue
Labels: packages/frontend

squash mergeやめる
  .github/workflows/enable-automerge.yml
Labels: none

リバースプロキシをCloudflare workersに移譲する
  infra/nginx/conf.d/default.conf.template
Labels: none

docker_exampleにも増やしたconfig追加しておく
  .config/docker_example.yml
Labels: none

アーキテクチャによらずlibjemallocを利用できるように
  Dockerfile
Labels: none

インフラこねた
  infra/k8s/web/templates/deployment.yaml
  infra/k8s/web/templates/hpa.yaml
  infra/k8s/web/values.yaml
Labels: none

誰もdb使わなくなったので止める
  compose.yml
Labels: none

serviceName入れてみる
  infra/k8s/web/templates/statefulset.yaml
Labels: none

fix
  infra/k8s/web/templates/NOTES.txt
  infra/k8s/web/templates/ingress.yaml
  infra/k8s/web/templates/service.yaml
  infra/k8s/web/templates/statefulset.yaml
  infra/k8s/web/values.yaml
Labels: none

Redisなおした
  infra/k8s/web/templates/config.yaml
  infra/k8s/web/values.yaml
Labels: none

spec(backend/NoteCreateService): ローカルユーザーがまだ誰もフォローしていないリモートユーザーによる通知を引き起こす可能性のある投稿を拒否できるように (MisskeyIO#462)
  packages/backend/src/core/NoteCreateService.ts
Labels: packages/backend

弾く弾かないの挙動決定をdefault.ymlにやらせる
  .config/example.yml
  packages/backend/src/config.ts
  packages/backend/src/core/NoteCreateService.ts
Labels: packages/backend

空文字cwはvalid扱いにする
  packages/backend/src/server/api/endpoints/notes/create.test.ts
Labels: packages/backend

ロギング周りの修正
  packages/backend/src/core/NoteCreateService.ts
Labels: packages/backend

Podリソース詰める
  infra/k8s/web/values.yaml
Labels: none

不要なワークフローCO
  .github/workflows/on-release-created.yml
  .github/workflows/storybook.yml
Labels: none

sslまわり
  .config/example.yml
  infra/k8s/web/templates/config.yaml
Labels: none

redisやpostgresql追加
  infra/k8s/postgres/.gitignore
  infra/k8s/postgres/forwarding.sh
  infra/k8s/postgres/pg-cluster.yaml
  infra/k8s/postgres/pg-user-sercret.example.yaml
  infra/k8s/postgres/postgresql-network-policy.yaml
  infra/k8s/postgres/s3-sercret.example.yaml
  infra/k8s/redis/redis.yaml
Labels: none

chart内に昇格
  infra/k8s/web/.gitignore
  infra/k8s/web/templates/config.yaml
  infra/k8s/web/values.yaml
Labels: none

CW注釈必須なくす2
  packages/backend/src/server/api/endpoints/notes/create.ts
Labels: packages/backend

fix
  Dockerfile
Labels: none
