Repository na2na-p/misskey, changes with the labels that .github/labeler.yml gives for each.
All labels: packages/frontend, packages/frontend:test, packages/backend, packages/backend:test, packages/sw, packages/misskey-js, packages/misskey-js:test

Podリソース詰める
  infra/k8s/web/values.yaml
Labels: none

helmにしてみた
  infra/k8s/web/.gitignore
  infra/k8s/web/.helmignore
  infra/k8s/web/Chart.yaml
  infra/k8s/web/config.example.yaml
  infra/k8s/web/templates/NOTES.txt
  infra/k8s/web/templates/_helpers.tpl
  infra/k8s/web/templates/hpa.yaml
  infra/k8s/web/templates/ingress.yaml
  infra/k8s/web/templates/service.yaml
  infra/k8s/web/templates/statefulset.yaml
  infra/k8s/web/templates/tests/test-connection.yaml
  infra/k8s/web/values.yaml
Labels: none

hotfix
  infra/k8s/web/templates/config.yaml
  infra/k8s/web/values.yaml
Labels: none

デフォルトバージョン更新
  infra/k8s/web/values.yaml
Labels: none

hotfix
  infra/k8s/web/templates/config.yaml
Labels: none

発火させない
  .github/workflows/dockle.yml
Labels: none

バージョン指定の詳細化
  .github/workflows/docker-develop.yml
  .github/workflows/docker.yml
Labels: none

Pod性能の調整
  infra/k8s/web/values.yaml
Labels: none

NodePortやめてClusterIPに変更
  infra/k8s/web/templates/service.yaml
  infra/k8s/web/values.yaml
Labels: none

設定詰める
  infra/k8s/web/templates/deployment.yaml
  infra/k8s/web/templates/hpa.yaml
  infra/k8s/web/values.yaml
Labels: none

helm valuesの整理
  infra/k8s/web/templates/config.yaml
  infra/k8s/web/templates/deployment.yaml
  infra/k8s/web/values.yaml
Labels: none

Bump
  package.json
Labels: none

releaseタグpushやめる
  .github/workflows/docker-develop.yml
  .github/workflows/docker.yml
  .github/workflows/image-push-for-misskey-na2na-release.yml
  .tool-versions
  compose.yml
  infra/k8s/web/templates/deployment.yaml
  infra/k8s/web/values.yaml
  infra/nginx/Dockerfile
Labels: none

redisPasswordKeyを任意にする
  infra/k8s/web/templates/externalsecret.yaml
  infra/k8s/web/templates/rollout.yaml
Labels: none

configの令和最新化
  infra/k8s/web/templates/config.yaml
Labels: none

Update hpa.yaml
  infra/k8s/web/templates/hpa.yaml
Labels: none

Update values.yaml
  infra/k8s/web/values.yaml
Labels: none

revisionHistoryLimitつける
  infra/k8s/web/templates/config.yaml
  infra/k8s/web/templates/deployment.yaml
  infra/k8s/web/templates/descheduler-cm.yaml
  infra/k8s/web/templates/descheduler-cronjob.yaml
  infra/k8s/web/templates/rbac.yaml
Labels: none

DB hostも環境変数対応させる
  packages/backend/src/config.ts
Labels: packages/backend

HPA調整
  infra/k8s/web/templates/hpa.yaml
  infra/k8s/web/values.yaml
Labels: none

PDBつける
  infra/k8s/web/templates/pdb.yaml
  infra/k8s/web/values.yaml
Labels: none

Argo Rollouts実装
  infra/k8s/web/templates/hpa.yaml
  infra/k8s/web/templates/rollout.yaml
  infra/k8s/web/templates/service.yaml
  infra/k8s/web/values.yaml
Labels: none

db番号指定できるようにする
  infra/k8s/web/templates/config.yaml
  infra/k8s/web/values.yaml
Labels: none

Docker build cacheの取り扱いをGHAに寄せる
  .github/workflows/image-push-for-misskey-na2na-release.yml
  infra/web/image-bake.hcl
Labels: none

stabilizationWindowSecondsをvaluesで指せるように
  infra/k8s/web/templates/hpa.yaml
  infra/k8s/web/values.yaml
Labels: none

redisのパスワード対応
  packages/backend/src/config.ts
Labels: packages/backend

externalSecret対応
  infra/k8s/web/templates/config.yaml
  infra/k8s/web/templates/deployment.yaml
  infra/k8s/web/templates/descheduler-cm.yaml
  infra/k8s/web/templates/descheduler-cronjob.yaml
  infra/k8s/web/templates/externalsecret.yaml
  infra/k8s/web/values.yaml
Labels: none

Revert "Update hpa.yaml"
  infra/k8s/web/templates/hpa.yaml
Labels: none

redisのパスワード対応
  infra/k8s/web/templates/config.yaml
  infra/k8s/web/templates/externalsecret.yaml
  infra/k8s/web/templates/rollout.yaml
  infra/k8s/web/values.yaml
Labels: none

Update config.yaml
  infra/k8s/web/templates/config.yaml
Labels: none

meilisearch準備
  infra/k8s/web/templates/deployment.yaml
  infra/k8s/web/templates/externalsecret.yaml
  infra/k8s/web/values.yaml
  packages/backend/src/config.ts
Labels: packages/backend

deschedulerつける
  infra/k8s/web/templates/descheduler-cm.yaml
  infra/k8s/web/templates/descheduler-cronjob.yaml
  infra/k8s/web/templates/rbac.yaml
  infra/k8s/web/values.yaml
Labels: none

空CWを許容する
  package.json
  packages/frontend/src/components/MkPostForm.vue
Labels: packages/frontend

Update docker-compose.yml
  compose_example.yml
Labels: none

Update VSCode settings
  infra/k8s/web/config.yaml
Labels: none

Update workflows
  .github/workflows/docker-develop.yml
Labels: none

Add actions
  .github/workflows/docker-build-push-misskey-na2na.yml
  .github/workflows/enable-automerge.yml
Labels: none

Add github token
  .github/actions/github-app-token/action.yml
Labels: none

Update actions
  .github/workflows/approve.yml
Labels: none

Update pnpm version
  .tool-versions
Labels: none

.github/labeler.yml:

packages/frontend:
  - changed-files:
    - any-glob-to-any-file: "packages/frontend/**/*"

packages/frontend:test:
  - changed-files:
    - any-glob-to-any-file: "cypress/**/*"

packages/backend:
  - changed-files:
    - any-glob-to-any-file: "packages/backend/**/*"

packages/backend:test:
  - changed-files:
    - any-glob-to-any-file: "packages/backend/test/**/*"

packages/sw:
  - changed-files:
    - any-glob-to-any-file: "packages/sw/**/*"

packages/misskey-js:
  - changed-files:
    - any-glob-to-any-file: "packages/misskey-js/**/*"

packages/misskey-js:test:
  - changed-files:
    - any-glob-to-any-file: "packages/misskey-js/test/**/*"
    - any-glob-to-any-file: "packages/misskey-js/test-d/**/*"
