Repository na2na-p/misskey, changes with the labels that .github/labeler.yml gives for each.
All labels: packages/frontend, packages/frontend:test, packages/backend, packages/backend:test, packages/sw, packages/misskey-js, packages/misskey-js:test

hotfix
  infra/k8s/web/templates/config.yaml
Labels: none

hotfix
  infra/k8s/web/templates/config.yaml
  infra/k8s/web/values.yaml
Labels: none

meilisearch準備
  infra/k8s/web/templates/deployment.yaml
  infra/k8s/web/templates/externalsecret.yaml
  infra/k8s/web/values.yaml
  packages/backend/src/config.ts
Labels: packages/backend

revisionHistoryLimitつける
  infra/k8s/web/templates/config.yaml
  infra/k8s/web/templates/deployment.yaml
  infra/k8s/web/templates/descheduler-cm.yaml
  infra/k8s/web/templates/descheduler-cronjob.yaml
  infra/k8s/web/templates/rbac.yaml
Labels: none

releaseタグpushやめる
  .github/workflows/docker-develop.yml
  .github/workflows/docker.yml
  .github/workflows/image-push-for-misskey-na2na-release.yml
  .node-version
  .tool-versions
  Dockerfile
  compose.yml
  infra/k8s/web/templates/deployment.yaml
  infra/k8s/web/values.yaml
  infra/nginx/Dockerfile
Labels: none

externalSecret対応
  infra/k8s/web/templates/config.yaml
  infra/k8s/web/templates/deployment.yaml
  infra/k8s/web/templates/descheduler-cm.yaml
  infra/k8s/web/templates/descheduler-cronjob.yaml
  infra/k8s/web/templates/externalsecret.yaml
  infra/k8s/web/values.yaml
Labels: none

PDBつける
  infra/k8s/web/templates/pdb.yaml
  infra/k8s/web/values.yaml
Labels: none

DB hostも環境変数対応させる
  packages/backend/src/config.ts
Labels: packages/backend

configの令和最新化
  infra/k8s/web/templates/config.yaml
Labels: none

stabilizationWindowSecondsをvaluesで指せるように
  infra/k8s/web/templates/hpa.yaml
  infra/k8s/web/values.yaml
Labels: none

deschedulerつける
  infra/k8s/web/templates/descheduler-cm.yaml
  infra/k8s/web/templates/descheduler-cronjob.yaml
  infra/k8s/web/templates/rbac.yaml
  infra/k8s/web/values.yaml
Labels: none

Bump
  package.json
Labels: none

HPA調整
  infra/k8s/web/templates/hpa.yaml
  infra/k8s/web/values.yaml
Labels: none

Update tool-versions
  .tool-versions
Labels: none

Update docker-compose.yml
  docker-compose.yml
Labels: none

文字の縁取りを消した
  packages/frontend/src/components/MkInstanceTicker.vue
Labels: packages/frontend

Update workflows
  .github/workflows/docker-develop.yml
Labels: none

Add .tool-versions
  .tool-versions
Labels: none

Add actions
  .github/workflows/docker-build-push-misskey-na2na.yml
  .github/workflows/enable-automerge.yml
Labels: none

Update pnpm version
  .tool-versions
Labels: none

Fix fontsize
  packages/frontend/src/components/MkInstanceTicker.vue
Labels: packages/frontend

Update VSCode settings
  infra/k8s/web/config.yaml
Labels: none

Add github token
  .github/actions/github-app-token/action.yml
Labels: none

Update docker-compose.yml
  compose_example.yml
Labels: none

Fix 存在しないオプションの削除
  compose.yml
Labels: none

Remove tunnel container
  compose.yml
Labels: none

Update pnpm
  .tool-versions
Labels: none

Rename compose.yml
  compose.yml
Labels: none

Update
  package.json
Labels: none

Add nginx container
  docker-compose.yml
  infra/nginx/.env.example
  infra/nginx/Dockerfile
  infra/nginx/conf.d/default.conf.template
Labels: none

Change Volumeの取扱変えた
  docker-compose.yml
Labels: none

Add cloudflare tunnel
  docker-compose.yml
  infra/cloudflare/.env.example
Labels: none

Update docker/setup-buildx-action action to v2.5.0
  .github/workflows/docker-build-push-misskey-na2na.yml
Labels: none

Add db backup command
  package.json
Labels: none

その場ビルドやめた
  compose.yml
Labels: none

Update .gitignore
  .gitignore
Labels: none

CD test
  .github/workflows/docker-build-push-misskey-na2na.yml
Labels: none

Update
  docker-compose.yml
Labels: none

Redisの終了が遅いのを修正
  compose.yml
Labels: none

Update update-command
  package.json
Labels: none

.github/labeler.yml:

packages/frontend:
  - changed-files:
    - any-glob-to-any-file: "packages/frontend/**/*"

packages/frontend:test:
  - changed-files:
    - any-glob-to-any-file: "cypress/**/*"

packages/backend:
  - changed-files:
    - any-glob-to-any-file: "packages/backend/**/*"

packages/backend:test:
  - changed-files:
    - any-glob-to-any-file: "packages/backend/test/**/*"

packages/sw:
  - changed-files:
    - any-glob-to-any-file: "packages/sw/**/*"

packages/misskey-js:
  - changed-files:
    - any-glob-to-any-file: "packages/misskey-js/**/*"

packages/misskey-js:test:
  - changed-files:
    - any-glob-to-any-file: "packages/misskey-js/test/**/*"
    - any-glob-to-any-file: "packages/misskey-js/test-d/**/*"
